body {
    background-color: rgb(127, 168, 187);
    font-family: fantasy;
    color: rgb(153, 31, 92);
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}